.section{
    background-color: palegreen;
}
.heading{
    text-align: center;
    font-size: 20px;
}
p{
    padding: 20px;
    margin: 20px;
}
button{
    border: none;
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 50px;
    width:300px;
    border-color: white;
    margin-right: 40px;
    text-align: center;
    margin-left: 150px;
    
    
}
.page{
    background-color:black;
    padding: 50px;
    margin: 40px;
    display: flex;
}
.img{
    border: none;
    padding-right: 100px;
    margin-top: 30px;
    
}

.heading2
{
    color: white;
    
}
.btn{
    border: 2px solid white;
    margin: 2px;
    padding: 10px;
}
 
